main {
    background-color: aqua;
    width: 995px;
    margin: 0 auto;
}
main .path {margin-bottom: 26px;}
main section {
    display: grid;
    grid-template-columns: 630px 341px;
    justify-content: space-between;
}
main section .left_thumnail {
    background-color: teal;
    display: grid;
    grid-template-columns: 56px 559px;
    gap: 15px
;}
main section .left_thumnail .small {}
main section .left_thumnail .small a {
    display: block;
    width: 56px; height: 56px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}
main section .left_thumnail .small a img {}
main section .left_thumnail .big {
    width: calc(100% - (15px + 56px));
    border-radius: 50px;
}
main section .left_thumnail .big a {}
main section .left_thumnail .big a img {width: 100%; border-radius: 5px;}

main section .right_order {background-color: pink;}
main section .right_order > * {margin-bottom: 25px;}
main section .right_order .brand {}
main section .right_order h1 {}
main section .right_order .review {}
main section .right_order .review .score {}
main section .right_order .review .score em {}
main section .right_order .review .num {}
main section .right_order .sale_price {}
main section .right_order .sale_price em {}
main section .right_order .sale_price del {}
main section .right_order > .price {}
main section .right_order > .price em {}
main section .right_order .benefit_delivery {overflow: hidden;}
main section .right_order .benefit_delivery dt {
    width: 80px;
    background-color:bisque;
    float: left;
}
main section .right_order .benefit_delivery dd {
    width: calc(100% - 80px); background-color: aquamarine;
    float: right;
    
}
main section .right_order .benefit_delivery dd em {}
main section .right_order .product_option {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
main section .right_order .product_option * {
    padding: 10px 17px;
    border-radius: 5px;
    border: 1px solid firebrick;
    line-height: 20px;
}
main section .right_order .product_option select[name=color] {}
main section .right_order .product_option select[name=color] option{}
main section .right_order .product_option select[name=size] option{}
main section .right_order .total{}
main section .right_order .total p{}
main section .right_order .total .price{}
main section .right_order .total .price em{}
main section .right_order .btn_group{
    display: flex;
    gap: 10px;
}
main section .right_order .btn_group button{
    width: calc((100% - 10px) / 2);
    height: 57px;
    border: 1px solid slateblue;
    border-radius: 5px;
}
main section .right_order .btn_group #cart_btn{}
main section .right_order .btn_group #buy_btn{}